<template>
  <Messages></Messages>
</template>

<script>

import Messages from '@/components/Messages.vue'

export default {
  data () {
    return {

    }
  },
  components: {
    Messages
  }
}
</script>

<style>

</style>
