<template>
    <!-- where all your jucy messages are located -->
    <div id="messages">
        <!-- because you need a template to know the use of our specail message component

        <Message
        name="name of user"
        img="the profile picture of the user"
        contents="the all importent message that has been sent"
        ></Message

        VVV Here it is in action VVV            -->

        <Message
        name="John Doe"
        img="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fvuejsexamples.com%2Fcontent%2Fimages%2F2017%2F10%2Fvuejsexamples.png&f=1"
        contents="super secret message"
        ></Message>
    </div>
</template>

<script>

import Message from '@/components/Message.vue' // import that special message component

// specail code to load messages from database

export default {
  components: {
    Message
  }
}
</script>

<style>

</style>
