<template>
  <div class="message">
    <a-card>
      <a-card-meta :title="name" :description="contents">
        <a-avatar slot="avatar" :src="img"></a-avatar>
      </a-card-meta>
    </a-card>
  </div>
</template>

<style>

 .message > .ant-card > .ant-card-body > .ant-card-meta > .ant-card-meta-detail > .ant-card-meta-title{
     /* styling mods for the message box title/username */
     text-align: left;
 }
 .message > .ant-card > .ant-card-body > .ant-card-meta > .ant-card-meta-detail > .ant-card-meta-description{
     /* styling mods for the message message part  */
     text-align: left;
 }
</style>

<script>

export default {
  data () {
    return {}
  },
  props: [
    'name',
    'img', // can be url to extrunernal site
    'timestamp',
    'contents'
  ],
  components: {}
}
</script>
