<template>
  <div id="app">
    <a-layout>
      <a-layout-sider
        :trigger="null"
        collapsible
        v-model="collapsed"
        >
        <Sider></Sider>
      </a-layout-sider>
      <a-layout>
        <a-layout-header>
          <a-icon
            class="trigger"
            :type="collapsed ? 'menu-unfold' : 'menu-fold'"
            @click="()=> collapsed = !collapsed"
          />
          <Header></Header>
        </a-layout-header>
        <a-layout-content>
          <router-view/>
        </a-layout-content>
        <a-layout-footer>
          <Footer></Footer>
        </a-layout-footer>
      </a-layout>
    </a-layout>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Sider from '@/components/Sider'

export default {
  components: {
    Header,
    Footer,
    Sider
  },
  data () {
    return {
      'collapsed': false
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
.ant-layout {
  height: 100vh;
}
.ant-layout-header {
  padding: 0px !important;
  height: 40px !important;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
}

.trigger:hover {
  color: #1890ff;
}
</style>
